<html>
    <body>
        <div id="container" style="-webkit-transition: all 500ms linear;">

            <img src="${thumb}$">

            <div class="BookInfo">
                <h1>&quot;${title}$&quot;</h1>
                <h2>by ${', '.join([a.name for a in authors]) or ""}$</h2>
                <ul>
                ${for identifier in identifiers:}$
                    <li>${identifier[0]}$: ${identifier[1]}$</li>
                ${:end-for}$
                </ul>
                <h3>Tags for this book<h3>
                <ul>
                ${for tag in tags:}$
                    <li>${tag}$</li>
                ${:end-for}$
                </ul>
                <h3>Files for this book</h3>
                <ul>
                ${for fname in files:}$
                    <li><a href="${fname}$">${fname}$</a></li>
                ${:end-for}$
                </ul>
            </div>

        </div>
    </body>
</html>
