
/*
Styles for About The Book view
*/

body {
	font-family: Ubuntu, Serif, Sans;
}

#container {
    /*font-family: Ubuntu, Sans;*/
    float: left;
    min-height: 128px; 
    border: solid 3px lightgrey; 
    padding: 15px;
    border-radius: 15px;
    margin: 6px;
}

#container:hover {
    border: solid 3px lightgreen;
    background: lightgreen;
}

#container img {
    float: left;
    margin-right: 4px;
    border: 1px solid black;
}

.BookInfo {
    text-align: right;
    /*margin-top: 12px;
    float: left;*/
}

.BookInfo h1 {
	text-shadow: 1px 1px 1px lightgray;
    font-weight: bold;
    font-size: 22px;
    margin-bottom:0px;    
}

.BookInfo h2 {
    font-weight: bold;
    font-size: 18px;  
    margin-top:0px;  
}

.BookInfo h3 {
    font-weight: bold;
    font-size: 16px;    
    margin: 0px;
}

.BookInfo ul {
    margin-top: 0px;
}

.BookInfo li {
    font-weight: normal;
    font-size: 14px;    
    list-style:none;
    margin-top: 0px;
    margin-bottom: 0px;
}
